earthengine_api==1.5.3
ee==0.2
geemap==0.35.1
geopandas==1.0.1
osmnx==2.0.1
pandas==2.2.3
protobuf==5.29.3
python_dateutil==2.9.0.post0
Shapely==2.0.7
streamlit==1.40.0
streamlit_nightly==1.40.1.dev20241109

